body {
    margin: 0;
    padding: 0;
    background-image: url(../Images/BG-Images\ For\ LoginPage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


/* Login Details -> Login.html */

.card {
    width: 58%;
    height: 53% !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin: 240px auto;
    backdrop-filter: blur(2px);
    border-radius: 8% !important;
}


/* Glass effect for text fields only */
.form-control {
    background: rgba(255, 255, 255, 0.2) !important;
    color: aliceblue !important;
    border: none !important;
}

/* Checkbox Fix */
.form-check-input {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background-color: transparent !important;
    accent-color: white;
}

#login_btn {
    background-color: aliceblue;
    color: black;
    border: 0px solid rgba(255, 255, 255, 0.2) !important;
}

#txt_rt_sidePara {
    /* background-color: #fd7e14; */
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 20px;
}


#txt_rt_sidePare hr {
    width: 300px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    margin-top: 10px;
}