body {
    margin: 0;
    padding: 0;
    background-image: url(../Images/BG-Images\ For\ LoginPage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}




#logBtn {
    width: 6rem;
}

#sigBtn {
    width: 7rem;
}

#Nav-Hero-Bg {
    background-color: #f7f8fc;
}


/* Login Details -> Login.html */
#BgImg {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card {
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin: 240px auto;
}


.input-group span {
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.2);
}

.input-group input {
    background-color: rgba(255, 255, 255, 0.2);
    border: rgba(255, 255, 255, 0.2);
}

















/* Hover Effects Elements :- */
.nav-link:hover {
    color: lightcoral !important;
    font-weight: bold;
    transition: .5s ease-in-out;
}

.feature-icon--products:hover {
    color: #0d6efd;
    transition: .5s ease-in-out;
}

.feature-icon--reports:hover {
    color: #198754;
    transition: .5s ease-in-out;
}

.feature-icon--notifications:hover {
    color: #fd7e14;
    transition: .5s ease-in-out;
}








/* Starts Media Queries :- */

@media screen and (max-width: 768px) {
    #navbar-Bg {
        width: 80% !important;
        background-color: lightblue !important;
    }

    #hero-title {
        /* color: aqua; */
        text-align: center;
    }

    #hero-subtitle {
        /* color: aqua; */
        text-align: center;
    }

    #get-started-button {
        /* background-color: aqua; */
        width: 10rem;
        display: block;
        justify-self: center;
    }

    #learn-more-button {
        /* background-color: aqua; */
        width: 10rem;
        display: block;
        justify-self: center;
        margin-top: 1rem;
        margin-right: 0.4rem;
    }

    #hero-image {
        margin-top: 2rem;
    }
}