#logBtn {
    width: 6rem;
}

#sigBtn {
    width: 7rem;
}
























/* Hover Effects Elements :- */
.nav-link:hover {
    color: lightcoral !important;
    font-weight: bold;
    transition: .5s ease-in-out;
}