body {
    margin: 0;
    padding: 0;
    background-image: url(../Images/BG-Images\ For\ LoginPage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}




#logBtn {
    width: 6rem;
}

#sigBtn {
    width: 7rem;
}

#Nav-Hero-Bg {
    background-color: #f7f8fc;
}


/* Login Details -> Login.html */

.card {
    width: 58%;
    height: 53% !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    margin: 240px auto;
    backdrop-filter: blur(2px);
    border-radius: 8% !important;
}


/* Glass effect for text fields only */
.form-control {
    background: rgba(255, 255, 255, 0.2) !important;
    color: aliceblue !important;
    border: none !important;
}

/* Checkbox Fix */
.form-check-input {
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    background-color: transparent !important;
    accent-color: white;
}

#login_btn {
    background-color: aliceblue;
    color: black;
    border: 0px solid rgba(255, 255, 255, 0.2) !important;
}

#txt_rt_sidePara {
    /* background-color: #fd7e14; */
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 20px;
}


#txt_rt_sidePare hr {
    width: 300px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    margin-top: 10px;
}









/* Hover Effects Elements :- */
.nav-link:hover {
    color: lightcoral !important;
    font-weight: bold;
    transition: .5s ease-in-out;
}

.feature-icon--products:hover {
    color: #0d6efd;
    transition: .5s ease-in-out;
}

.feature-icon--reports:hover {
    color: #198754;
    transition: .5s ease-in-out;
}

.feature-icon--notifications:hover {
    color: #fd7e14;
    transition: .5s ease-in-out;
}








/* Starts Media Queries :- */

@media screen and (max-width: 768px) {
    #navbar-Bg {
        width: 80% !important;
        background-color: lightblue !important;
    }

    #hero-title {
        /* color: aqua; */
        text-align: center;
    }

    #hero-subtitle {
        /* color: aqua; */
        text-align: center;
    }

    #get-started-button {
        /* background-color: aqua; */
        width: 10rem;
        display: block;
        justify-self: center;
    }

    #learn-more-button {
        /* background-color: aqua; */
        width: 10rem;
        display: block;
        justify-self: center;
        margin-top: 1rem;
        margin-right: 0.4rem;
    }

    #hero-image {
        margin-top: 2rem;
    }
}